<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="">

  <!-- common stuff -->
  <!--  <include filename="$(find seneka_ugv_description)/urdf/sensornode.gazebo.xacro" /> -->

  <link name="sensornode">
    <visual>
      <geometry>
        <mesh filename="package://seneka_ugv_description/meshes/sensornode_reduced.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black"/>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://seneka_ugv_description/meshes/sensornode_reduced.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>

    <inertial>
      <mass value="30.0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <gravity>false</gravity>

</robot>

