<?xml version="1.0"?>
<launch>

  <!-- send quanjo urdf to param server -->
  <!--<param name="robot_description" command="$(find xacro)/xacro.py '$(find seneka_ugv_description)/urdf/ugv_robot.urdf.xacro'" />-->

  <!-- send sensornode urdf to param server -->
  <!--<param name="sensornode_description" command="$(find xacro)/xacro.py '$(find seneka_ugv_description)/urdf/sensornode.urdf.xacro'" />-->
	
</launch>

