<?xml version="1.0"?>
<launch>

  <arg name="calibration_ext" default="calibration_ext.yaml" />

  <rosparam command="load" ns="sensornode_detection" file="$(find seneka_sensornode_detection)/launch/$(arg calibration_ext)" />
  <!-- send quanjo urdf to param server -->	
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find seneka_ugv_description)/urdf/ugv_robot.urdf.xacro'" />
  <param name="sensornode_description" command="$(find xacro)/xacro.py '$(find seneka_ugv_description)/urdf/sensornode.urdf.xacro'" />
  
  <!-- sets kinect rgb stream to full hd mode -->
  <param name="/camera/driver/image_mode" value="1"/>

  <include file="$(find cob_fiducials)/ros/launch/fiducials.launch"/>

  <include file="$(find freenect_launch)/launch/freenect.launch"/>
  
  <node pkg="seneka_sensornode_detection" ns="sensornode_detection" type="sensornode_detection" name="sensornode_detection" output="screen">	
  
  </node>


</launch>
